S3method("$",ExposeAttribute)
S3method("$<-",ExposeAttribute)
S3method("[[",package_options)
S3method("[[<-",package_options)
S3method(.DollarNames,ExposeAttribute)
S3method(addnames,array)
S3method(addnames,default)
S3method(addnames,matrix)
S3method(addnames,vector)
S3method(format,package_metaregistry)
S3method(format,package_subregistry)
S3method(print,ExposeAttribute)
S3method(print,package_metaregistry)
S3method(print,package_options)
S3method(print,str_diff)
S3method(runVignette,rnw_knitr)
S3method(runVignette,rnw_sweave)
S3method(xtable,package_metaregistry)
export("attr_mode<-")
export(CRAN)
export(ExposeAttribute)
export(R.CMD)
export(R.SHLIB)
export(R.exec)
export(Rversion)
export(addNamespaceExport)
export(add_lib)
export(addnames)
export(allFormals)
export(alphacol)
export(as.package_options)
export(as.rnw)
export(attr_mode)
export(cgetAnywhere)
export(checkPlot)
export(checkWarning)
export(citecmd)
export(compile_src)
export(exitCheck)
export(expand_dots)
export(expand_list)
export(extractLocalFun)
export(file_extension)
export(getBiocMirror)
export(getBiocRepos)
export(getLoadingNamespace)
export(hasArg2)
export(hasNames)
export(hasPackageRegistry)
export(inSweave)
export(install.dependencies)
export(install.extrapackages)
export(install.extras)
export(is.dir)
export(is.file)
export(isCRAN_timing)
export(isCRANcheck)
export(isDevNamespace)
export(isFALSE)
export(isInteger)
export(isLoadingNamespace)
export(isNamespaceLoaded)
export(isNumber)
export(isPackageInstalled)
export(isReal)
export(isString)
export(is_NA)
export(is_option_symlink)
export(latex_bibliography)
export(latex_preamble)
export(ldata)
export(libname)
export(list.libs)
export(listPackageOptions)
export(makeFakeVignette)
export(makeUnitVignette)
export(mfrow)
export(mkoptions)
export(new2)
export(onLoad)
export(onUnload)
export(oneoffVariable)
export(option_symlink)
export(option_symlink_target)
export(orderVersion)
export(packageData)
export(packageEnv)
export(packageExtra)
export(packageExtraHandler)
export(packageExtraRunner)
export(packageName)
export(packageOptions)
export(packagePath)
export(packageReference)
export(packageRegistries)
export(packageRegistry)
export(packageTestEnv)
export(pkgregfetch)
export(postponeAction)
export(quickinstall)
export(regfetch)
export(require.quiet)
export(requirePackage)
export(requireRUnit)
export(rnw)
export(rnwChildren)
export(rnwCompiler)
export(rnwDriver)
export(rnwIncludes)
export(rnwWrapper)
export(runPostponedAction)
export(sVariable)
export(setBiocMirror)
export(setCRANMirror)
export(setPackageExtra)
export(setPackageExtraHandler)
export(setPackageRegistry)
export(setPackageRegistryEntry)
export(setupPackageOptions)
export(simpleRegistry)
export(sortVersion)
export(source_files)
export(str_desc)
export(str_diff)
export(str_fun)
export(str_ns)
export(str_out)
export(testRversion)
export(topns)
export(topns_name)
export(unit.test)
export(userIs)
export(utest)
export(utestFramework)
export(utestPath)
export(vignetteMakefile)
export(write.bib)
export(writeUnitVignette)
import(codetools)
import(digest)
import(stringr)
importFrom(grDevices,col2rgb)
importFrom(methods,is)
importFrom(utils,.DollarNames)
importFrom(xtable,xtable)
